<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mynewapp">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNewApp">
        <activity
            android:name=".HomeActivity2"
            android:label="@string/title_activity_home2"
            android:theme="@style/Theme.MyNewApp.NoActionBar">
            <intent-filter>
                <action android:name="com.example.mynewapp.HomeActivity2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PayPaymentWifiActivity"
            android:label="@string/activity_pay_payment_wifi">
            <intent-filter>
                <action android:name="com.example.mynewapp.PayPaymentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceivePaymentQrActivity"
            android:label="@string/activity_receive_payment">
            <intent-filter>
                <action android:name="com.example.mynewapp.ReceivePaymentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopUpActivity"
            android:label="@string/activity_top_up">
            <intent-filter>
                <action android:name="com.example.mynewapp.TopUpActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/activity_home">
            <intent-filter>
                <action android:name="com.example.mynewapp.HomeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/activity_registration">
            <intent-filter>
                <action android:name="com.example.mynewapp.RegistrationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentHistoryActivity"
            android:label="@string/activity_payment_history">
            <intent-filter>
                <action android:name="com.example.mynewapp.PaymentHistoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageRadioActivity"
            android:label="@string/activity_image_radio">
            <intent-filter>
                <action android:name="com.example.mynewapp.ImageRadioActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>